@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin font($size, $height, $weight) {
  font-family: $font-main;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin container {
  position: relative;
  width: 100%;
  min-width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-pads;

  @include tablet {
    width: auto;
    max-width: 100%;
    padding: 0 $tablet-pads;
  }

  @include desktop {
    min-width: $desktop-width;
    width: $desktop-width;
    max-width: 100%;
    padding: 0 $desktop-pads;
  }
}

@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin caps {
  text-transform: uppercase;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin reset-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin menu-item-bg {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $c_theme-dark;
    box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(white, 0.15);
    z-index: -100;

    @include desktop {
      display: none;
    }
  }
}

@mixin title-section {
  @include font(24px, 1.2, $light);

  @include tablet {
    @include font(40px, 1.4, $light);
  }

  @include desktop {
    @include font(50px, 1.16, $light);
  }
}

@mixin section-bg($color) {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: $color;
}

@mixin input-style {
  border: 2px solid $c_border;
}

@mixin input-hover {
  border: 2px solid $c_theme-dark;
}

@mixin input-focus {
  border: 2px solid $c_theme-main;
  outline: 0 none;
}

@mixin accent-link {
  color: $c_theme-main;

  &:hover {
    color: black;
    text-decoration: underline;
  }

  &:active {
    color: black;
    opacity: 0.3;
    text-decoration: none;
  }
}
