@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin font($size, $height, $weight) {
  font-family: $font-main;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin container {
  position: relative;
  width: 100%;
  min-width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-pads;
  /*background-color: lightyellow;*/

  @include tablet {
    min-width: $tablet-width;
    padding: 0 $tablet-pads;
    /*background-color: pink;*/
  }

  @include desktop {
    min-width: $desktop-width;
    width: $desktop-width;
    padding: 0 $desktop-pads;
    /*background-color: lightgreen;*/
  }
}

@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin caps {
  text-transform: uppercase;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin reset-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin menu-item-bg {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -$mobile-pads;
    display: block;
    width: 100vw;
    height: 100%;
    background-color: $c_theme-dark;
    box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(white, 0.15);
    z-index: -100;

    @include tablet {
      left: -$tablet-pads;
    }

    @include desktop {
      display: none;
    }
  }
}
