$font-main: "Open Sans", "Arial", sans-serif;
$light: 300;
$normal: 400;
$bold: 700;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1140px;
$mobile-pads: 20px;
$tablet-pads: 20px;
$desktop-pads: 100px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$c_text-one: #283645; /*dark-blue*/
$c_text-two:  #283645; /*dark-blue*/
$c_text-three: #000000; /*black*/
$c_theme-main: #d22856; /*pink*/
$c_theme-dark: #283645; /*dark-blue*/

$c_theme-additional: #2aab6d; /*green*/
$c_theme-additional-dark: #1c9b5e; /*dark-green*/
$c_light: white;
$c_bg: #f2f2f2; /*lighter-grey*/
$c_border: #e5e5e5; /*light-grey*/
