$font-main: "Open Sans", "Arial", sans-serif;
$light: 300;
$normal: 400;
$bold: 700;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-pads: 0;
$tablet-pads: 0;
$desktop-pads: 0;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$c_text-one: #283645; /*dark-blue*/
$c_text-two:  #283645; /*dark-blue*/
$c_text-three: #000000; /*black*/
$c_theme-main: #d22856; /*pink*/
$c_theme-dark: #283645; /*dark-blue*/
$c_theme-additional: #2aab6d;
$c_bg: #f2f2f2; /*lighter-gray*/
$c_border: #e5e5e5; /*light-gray*/
