.contacts {
  padding-top: 43px;

  @include tablet {
    padding-top: 50px;
  }

  @include desktop {
    padding-top: 55px;
  }
}

.contacts__intro {
  @include font(24px, 1.2, $light);
  margin-top: 0;
  text-align: center;

  @include tablet {
    @include font(40px, 1.35, $light);
    display: block;
    max-width: 500px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    @include font(50px, 1.36, $light);
    margin-bottom: 40px;
  }
}

.contacts__list {
  margin-top: 35px;
  text-align: center;

  @include tablet {
    @include flex(row);
    margin-top: 33px;
  }
}

.contacts__item {
  margin-bottom: 16px;

  &--margin-top {
    margin-top: 20px;

    @include tablet {
      margin-top: 25px;
    }

    @include desktop {
      margin-top: 0;
    }
  }

  @include tablet {
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include desktop {
    width: 250px;
    margin-left: 24px;
    margin-right: 24px;
  }

  &--tel {
    @include desktop {
      order: 1;
    }
  }

  &--email {
    @include desktop {
      order: 3;
    }
  }

  &--address {
    @include desktop {
      order: 2;
    }
  }
}

.contacts__item-title {
  @include font(18px, 1.39, $bold);
  margin-top: 0;
  margin-bottom: 0;

  @include tablet {
    margin-bottom: 5px;
  }

  @include desktop {
    margin-bottom: 22px;
  }
}

.contacts__item-info {
  @include font(24px, 1.35, $light);

  @include tablet {
    display: block;
    width: 100%;
  }
}

.contacts__item-info--link {
  @include accent-link;
}

.contacts__item-info--text {
  display: inline;
  color: $c_theme-main;

  @include tablet {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.contacts__map {
  position: relative;
  height: 215px;
  overflow: hidden;
  z-index: 10;

  @include tablet {
    height: 370px;
  }

  @media (min-width: 960px) {
    height: 500px;
  }
}

.contacts__map::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 123px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1200px 123px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  z-index: 10;
  transform: translateY(-75px);

  @include tablet {
    transform: translateY(-50px);
  }

  @media (min-width: 960px) {
    left: 50%;
    right: auto;
    width: 1439px;
    height: 130px;
    background-size: 1439px 130px;
    background-position: 0 0;
    transform: translate(-50%, -5px);
  }
}

.contacts__map::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: block;
  width: 36px;
  height: 36px;
  background-color: $c_theme-main;
  border: 10px solid white;
  z-index: 100;

  @include tablet {
    top: calc(50% + 17px);
  }
}

.contacts__map-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;

  @media (min-width: 960px) {
    transform: translateY(-50px);
  }
}
