.effect {
  display: none;

  @include tablet {
    display: block;
    min-height: 350px;
    z-index: 100;
  }

  @include desktop {
    min-height: 460px;
  }
}

.effect__container {
  @include tablet {
    position: relative;
    padding-top: 59px;
    padding-bottom: 50px;
  }

  @include desktop {
    padding-top: 100px;
  }
}

.effect__container::before {
  @include tablet {
    content: "";
    position: absolute;
    top: 45px;
    left: 20px;
    width: 240px;
    height: 276px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url("../img/icon-timer.svg");
  }

  @media (min-width: 730px) {
    margin-left: 8%;
  }

  @media (min-width: 800px) {
    margin-left: 10%;
  }

  @include desktop {
    top: 35px;
    left: 100px;
    width: 300px;
    height: 345px;
    margin-left: 0;
  }
}

.effect__container::after {
  @include tablet {
    @include font(96px, 1.7, $bold);
    content: "24";
    position: absolute;
    top: 100px;
    left: 38px;
    width: 202px;
    height: 202px;
    color: $c_theme-main;
    text-align: center;
    border: 16px solid $c_theme-main;
    border-radius: 50%;
  }

  @media (min-width: 730px) {
    margin-left: 8%;
  }

  @media (min-width: 800px) {
    margin-left: 10%;
  }

  @include desktop {
    top: 108px;
    left: 123px;
    width: 253px;
    height: 253px;
    margin-left: 0;
    font-size: 120px;
    line-height: 1.73;
    border: 18px solid $c_theme-main;
  }
}

.effect__title {
  @include tablet {
    @include font(30px, 1.2, $bold);
    display: block;
    max-width: 170px;
    margin-bottom: 10px;
    margin-left: 50%;
    color: black;
  }

  @media (min-width: 800px) {
    margin-left: 45%;
  }

  @include desktop {
    max-width: none;
    margin-bottom: 27px;
    margin-left: 39.5%;
    line-height: 1;
  }
}

.effect__text {
  @include tablet {
    max-width: 310px;
    margin-top: 0;
    margin-left: 50%;
    line-height: 1.75;
    margin-bottom: 7px;
  }

  @media (min-width: 800px) {
    max-width: 400px;
    margin-left: 45%;
  }

  @include desktop {
    max-width: 550px;
    margin-bottom: 30px;
    margin-left: 39.5%;
    font-size: 18px;
    line-height: 1.7;
  }
}

.effect__link {
  @include tablet {
    @include accent-link;
    margin-left: 50%;
    text-decoration: underline;
  }

  @media (min-width: 800px) {
    margin-left: 45%;
  }

  @include desktop {
    margin-left: 39.5%;
    font-size: 18px;
    line-height: 1.7;
  }
}
