.form {
  padding-top: 5px;

  @include tablet {
    @include flex(column);
    background-color: white;
  }

  @include desktop {
    padding-right: 174px;
    padding-left: 174px;
  }
}

.form__temp-hidden-text {
  visibility: hidden;

  @include tablet {
    visibility: visible;
  }
}

.form__container {
  @include container;

  @include tablet {
    position: relative;
    padding: 0;
    margin-left: $tablet-pads;
    margin-right: $tablet-pads;
    text-align: center;
    border: 2px solid $c_bg;
  }

  @include desktop {
    min-width: 400px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid lightgreen;
    background-color: lightblue;
  }

  &--padding {
    padding-top: 25px;
    padding-bottom: 43px;
  }

  &--no-border {
    border: 0 none;
  }

  &--no-padding-top {
    padding-top: 0;

    @include tablet {
      padding-top: 0;
    }
  }

  &--bottom {
    @include tablet {
      @include flex(row);
      order: 6;
      width: auto;
      margin-top: 10px;
      margin-bottom: 40px;
      margin-left: $tablet-pads;
      margin-right: $tablet-pads;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form__group {
  @include tablet {
    position: relative;
    padding-top: 15px;
    margin-bottom: 52px;
  }

  &--no-padding-top {
    padding-top: 0;
  }

  &--name {
    @include tablet {
      order: 1;
      margin-bottom: 0;
    }
  }

  &--achievements {
    @include tablet {
      order: 4;
    }
  }

  &--contacts {
    @include tablet {
      order: 3;
    }
  }

  &--os {
    @include tablet {
      order: 2;
    }
  }

  &--comment {
    @include tablet {
      order: 5;
    }
  }
}

.form__line-container {
  @include tablet {
    @include flex(row);
    align-items: center;
    margin-top: 11px;
    margin-bottom: 51px;

    &--column {
      position: relative;
      flex-direction: column;
      width: 100%;
      margin-top: 28px;
      margin-bottom: 25px;

      &:first-of-type {
        margin-top: 45px;
      }
    }
  }
}


.form__group-title {
  @include font(14px, 1.3, $normal);
  @include caps;
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
  color: $c_theme-main;
  text-align: center;

  @include tablet {
    position: absolute;
    top: -10px;
    left: 50%;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
    background-color: white;
    transform: translateX(-50%);
  }
}

.form__label {
  @include font(14px, 2.1, $normal);
  display: inline-block;
  vertical-align: middle;
  color: $c_theme-main;

  &--margin {
    margin-left: 23px;
    margin-top: 15px;
    margin-bottom: 6px;

    @include tablet {
      margin: 0;
      margin-right: 20px;
    }
  }

  &--personal-info {
    @include caps;
  }

  &--tel {
    margin-top: 30px;

    @include tablet {
      order: 2;
      width: 81%;
      margin-top: 10px;
      padding-left: 30px;
      text-align: left;
    }
  }

  &--email {
    margin-top: 18px;

    @include tablet {
      order: 2;
      width: 81%;
      margin-top: 10px;
      padding-left: 30px;
      text-align: left;
    }
  }
}

@mixin input-style {
  border: 2px solid $c_border;
}

@mixin input-hover {
  border: 2px solid $c_theme-dark;
}

@mixin input-focus {
  border: 2px solid $c_theme-main;
  outline: 0 none;
}

.form__input {
  @include font(18px, 1.7, $normal);
  color: $c_text-two;

  &::placeholder {
    color: $c_text-two;
  }

  &--text,
  &--email,
  &--tel {
    @include input-style;
    width: 100%;
    padding: 15px 20px;
  }

  &--text {
    @include tablet {
      flex-grow: 1;
      width: auto;
    }
  }

  &--email,
  &--tel {
    @include tablet {
      order: 1;
      width: 81%;
      flex-grow: 1;
    }
  }

  &:hover {
    @include input-hover;
  }

  &:active,
  &:focus {
    @include input-focus;
  }
}

.form__icon {
  @include tablet {
    content: "";
    position: absolute;
    top: 0;
    right: 9.5%;
    width: 62px;
    height: 62px;
    background-color: $c_border;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
  }

  @include desktop {
    background-position: 45% 50%;
  }

  &--tel {
    @include tablet {
      background-image: url("../img/icon-phone.svg");
    }
  }

  &--email {
    @include tablet {
      background-image: url("../img/icon-mail.svg");
    }
  }
}

.form__label--checkbox,
.form__label--radio {
  @include font(18px, 1.7, $normal);
  position: relative;
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  color: $c_theme-dark;

  @include tablet {
    text-align: left;
  }

  &::before {
    @include input-style;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: white;
  }

  &:hover::before {
    @include input-hover;
  }

  &:active::before,
  &:focus::before {
    @include input-focus;
  }
}

.form__label--checkbox {
  margin-top: 46px;
  padding-left: 60px;

  @include tablet {
    margin-top: 44px;
    margin-left: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 60px;
  }

  &:first-of-type {
    margin-top: 40px;

    @include tablet {
      margin-top: 50px;
    }
  }

  &:last-child {
    margin-bottom: 50px;
  }

  &::before {
    width: 35px;
    height: 35px;
    border-radius: 2px;
  }
}

.form__label--radio {
  margin-top: 38px;
  padding-left: 70px;

  @include tablet {
    margin-top: 33px;
    margin-left: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 60px;
  }

  &:first-of-type {
    margin-top: 35px;

    @include tablet {
      margin-top: 50px;
    }
  }

  &:last-child {
    @include tablet {
      margin-bottom: 50px;
    }
  }

  &::before {
    width: 37px;
    height: 37px;
    border-radius: 50%;

    @include tablet {
      width: 41px;
      height: 41px;
    }
  }
}

.form__input--checkbox,
.form__input--radio {
  @include visually-hidden;
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 22px 16px;
}

.form__input--checkbox:disabled {
  & + .form__label--checkbox {
    opacity: 0.3;

    &:hover::before {
      @include input-style;
    }

    &:active::before,
    &:focus::before {
      @include input-style;
    }
  }
}

.form__input--checkbox:checked:disabled {
  & + .form__label--checkbox {
    opacity: 0.3;

    &:hover::before {
      @include input-style;
    }

    &:active::before,
    &:focus::before {
      @include input-style;
    }

    &::after {
      opacity: 0.3;
    }
  }
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: $c_theme-main;
  border-radius: 50%;
}

.form__input--radio:disabled {
  & + .form__label--radio {
    opacity: 0.3;

    &:hover::before {
      @include input-style;
    }

    &:active::before,
    &:focus::before {
      @include input-style;
    }
  }
}

.form__input--radio:checked:disabled {
  & + .form__label--radio {
    opacity: 0.3;

    &::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 11px;
      display: block;
      width: 15px;
      height: 15px;
      background-color: $c_theme-main;
      border-radius: 50%;
      opacity: 0.3;
    }
  }
}

.form__textarea {
  @include input-style;
  @include font(18px, 1.7, $normal);
  width: 100%;
  min-height: 200px;
  padding: 13px 20px;
  resize: vertical;
  color: $c_text-two;

  @include tablet {
    width: 81%;
    min-height: 190px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  &:hover {
    @include input-hover;
  }

  &:active,
  &:focus {
    @include input-focus;
  }

  &::placeholder {
    color: $c_text-two;
  }
}

.form__footnote {
  @include caps;
  margin-top: 35px;
  /*margin-bottom: -10px;*/
  text-align: center;

  @include tablet {
    margin-top: 20px;
  }
}

.form__text-accent-color {
  color: $c_theme-main;
}

.form__btn {
  padding-top: 14px;
  padding-bottom: 14px;

  @include tablet {
    align-self: center;
    width: auto;
    min-width: 300px;
    margin-right: auto;
  }
}
