.gallery {
  @include desktop {
    margin-bottom: -40px;
  }
}

.gallery__photo-wrapper {
  @include tablet {
    @include flex(row);
    align-items: stretch;
  }

  @media (min-width: 690px) {
    justify-content: center;
  }

  @include desktop {
    justify-content: space-between;
    margin-top: 10px;
  }
}

.gallery__photo {
  @include reset;

  &:nth-child(2n) {
    @media (min-width: 690px) {
      margin-left: 7%;
    }

    @media (min-width: 950px) and (max-width: $desktop-width) {
      margin-left: 13%;
    }

    @include desktop {
      margin-left: 0;
    }
  }
}
