.panorama {
  @include reset;
  position: relative;
  margin-bottom: 20px;
  background-color: white;
}

.panorama__label {
  @include font(12px, 2, $bold);
  @include caps;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  min-height: 36px;
  margin: 0;
  margin-right: $mobile-pads;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: $c_theme-main;
  color: $c_light;
  z-index: 10;

  @include tablet {
    margin-top: 55px;
    margin-right: 0;
  }

  @include desktop {
    margin-top: 53px;
    margin-right: 0;
  }
}

.panorama__link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.panorama__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0;

  @include tablet {
    /*min-width: 100%;*/
    height: 510px;
  }

  @include desktop {
    height: 505px;
  }
}

.panorama__info {
  display: block;
  width: 100%;
  margin-top: 0;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;

  @include tablet {
    padding-bottom: 40px;
  }

  .container {
    padding-top: 15px;

    @include tablet {
      padding-top: 20px;
    }
  }
}

.panorama .container {
  position: relative;
  display: block;
  width: auto;
  min-width: 280px;
  margin-top: 0;
  margin-left: $mobile-pads;
  margin-right: $mobile-pads;
  padding-left: 17px;
  padding-right: 17px;
  background-color: $c_bg;
  letter-spacing: -0.2px;

  @include tablet {
    @include flex(row);
    align-items: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.panorama__author {
  margin-top: 0;
  margin-bottom: 0;

  @include tablet {
    order: 1;
    width: auto;
  }
}

.panorama__author-name {
  @include font(14px, 2, $bold);
}

.panorama__date {
  @include font(14px, 2, $light);
}

.panorama__text {
  @include font(14px, 1.7, $normal);
  margin-top: 0;
  margin-bottom: 15px;

  @include tablet {
    order: 3;
  }

  @include desktop {
    letter-spacing: 0.1px;
  }
}

.panorama__likes {
  @include font(12px, 1.6, $light);
  @include caps;
  color: $c_theme-main;

  @include tablet {
    @include flex(row);
    order: 2;
    margin-left: auto;
  }
}

.panorama__like-button {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: 0 0;
  border: 0 none;

  @include tablet {
    order: 2;
    margin-left: 20px;
  }
}

.panorama__like-count {
  margin-left: 13px;

  @include tablet {
    order: 1;
  }
}
