.photo {
  @include reset;
  position: relative;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    width: 300px;
    margin-bottom: 20px;
  }

  @include desktop {
    /*width: 200px;*/
    margin-bottom: 55px;
  }
}

.photo__image {
  display: block;
  width: 100%;
  height: auto;

  @include tablet {
    width: 300px;
  }
}

.photo__info {
  display: block;
  width: 100%;
  min-height: 121px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: $c_bg;

  @include tablet {
    @include flex(column);
    min-height: 155px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.photo__author {
  margin-top: 0;
  margin-bottom: 0;
}

.photo__author-name {
  @include font(14px, 2, $bold);
}

.photo__date {
  @include font(14px, 2, $light);
}

.photo__text {
  @include font(14px, 1.6, $normal);
  margin-top: 0;
  margin-bottom: 15px;
}

.photo__likes {
  @include font(12px, 1.6, $light);
  @include caps;
  color: $c_theme-main;

  @include tablet {
    @include flex(row);
    margin-top: auto;
  }
}

.photo__like-button {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  border: 0 none;
  z-index: 10;

  @include tablet {
    order: 2;
    margin-left: auto;
  }
}

.photo__like-count {
  margin-left: 13px;

  @include tablet {
    order: 1;
    margin-left: 0;
  }
}
