.promo {
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  background: linear-gradient(to bottom, transparent 388px, $c_theme-dark 103px);

  @include tablet {
    background: none;
  }
}

.promo .container {
  padding-top: 18px;
  position: relative;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: 0 103px;
  background-size: auto 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");

  @include retina {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }

  @media (min-width: 400px) {
    background-position: 10% 103px;
  }

  @media (min-width: 450px) {
    background-position: 20% 103px;
  }

  @include tablet {
    min-height: 620px;
    background-position: 50% 100%;
    background-size: auto 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");

    @include retina {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  @include desktop {
    padding-bottom: 88px;
    background-position: 130% 100%;
    background-size: auto 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");

    @include retina {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.promo__title {
  @include title-section;
  margin-top: 0;
  margin-bottom: 315px;
  text-align: center;

  @include tablet {
    width: 300px;
    margin-top: 78px;
    margin-bottom: 3px;
    line-height: 1.2;
  }

  @media (min-width: 700px) {
    margin-left: 5%;
  }

  @media (min-width: 750px) {
    margin-left: 8%;
  }

  @include desktop {
    margin-top: 85px;
    margin-left: 0;
    line-height: 1.35;
  }
}

.promo__download {
  position: relative;
  padding-top: 28px;
  padding-bottom: 16px;
  text-align: center;
  z-index: 1;

  @include tablet {
    width: 300px;
  }

  @media (min-width: 700px) {
    margin-left: 5%;
  }

  @media (min-width: 750px) {
    margin-left: 8%;
  }

  @include desktop {
    padding-top: 37px;
    margin-left: 0;
  }
}

.promo__download::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: calc(100% + 2 * #{$mobile-pads});
  height: 100%;
  transform: translateX(-$mobile-pads);
  background-color: $c_theme-dark;
  z-index: -2;

  @include tablet {
    display: none;
  }
}

.promo__btn {
  display: block;
  width: 100%;
  max-width: 280px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;

  @include tablet {
    max-width: 300px;
    margin-bottom: 45px;
  }

  @include desktop {
    letter-spacing: 2px;
    margin-bottom: 68px;
  }
}

.promo__icon-links {
  @include flex(row);
  justify-content: center;
  margin-bottom: 17px;

  @include tablet {
    margin-bottom: 31px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.promo__icon-link {
  display: block;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 50%;

  &--ios {
    background-image: url("../img/logo-apple.svg");
    background-size: 47px 56px;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-size: 43px 47px;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-size: 44px 41px;
  }
}

.promo__text {
  line-height: 1.8;
  font-weight: $light;

  @include tablet {
    @include font(18px, 1.3, $light);
  }
}
