.tariff {
  position: relative;
  padding-top: 104px;
  background-color: $c_bg;
  overflow: hidden;
  z-index: -3;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 65px;
  }

  @include desktop {
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: $c_border;
  }
}

.tariff__container {
  padding: 0;

  @include tablet {
    padding: 0 $tablet-pads;
  }

  @include desktop {
    padding: 0 $desktop-pads;
  }
}

.tariff__table {
  top: 0;
  width: 840px;
  margin-left: calc(-840px / 4 + #{$mobile-pads});

  @include tablet {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
  }

  @include desktop {
    width: 940px;
    max-width: 940px;
  }
}
