.btn {
  @include font(18px, 1.67, $bold);
  width: 100%;
  padding: 20px 20px;

  &--main {
    @include caps;
    color: $c_light;
    background-color: $c_theme-additional;
    border: 2px solid $c_theme-additional;
    border-radius: 1px;

    &:hover,
    &:focus {
      background-color: $c_theme-additional-dark;
      border: 2px solid $c_theme-additional-dark;
    }

    &:hover {
      outline: 0 none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      outline: 0 none;
    }

    &:disabled {
      background-color: $c_border;
      border: 2px solid $c_border;
    }
  }

  &--rounded {
    padding: 15px 20px;
    border-radius: 50px;
  }

  &--ghost {
    @include font(21px, 1, $bold);
    color: $c_light;
    background-color: transparent;
    border: 3px solid $c_light;

    &:focus,
    &:hover {
      color: $c_theme-main;
      background-color: $c_light;
    }

    &:active {
      color: rgba($c_theme-main, 0.3);
      background-color: $c_light;
    }
  }

  &--submit {
    line-height: 1;
    color: $c_theme-main;
    background-color: transparent;
    border: 3px solid $c_theme-main;

    &:focus,
    &:hover {
      color: $c_light;
      background-color: $c_theme-main;
      outline: 0 none;
    }

    &:active {
      color: rgba($c_light, 0.3);
      background-color: $c_theme-main;
      outline: 0 none;
    }
  }

  &:disabled {
    color: $c_light;
    background-color: $c_border;
    border: 2px solid $c_border;
  }

  &--cancel {
    line-height: 1;
    color: $c_theme-dark;
    background-color: transparent;
    border: 3px solid $c_theme-dark;
    opacity: 0.1;

    &:focus,
    &:hover {
      opacity: 0.3;
      outline: 0 none;
    }

    &:active {
      color: $c_light;
      background-color: $c_theme-dark;
      outline: 0 none;
    }
  }
}
