.modal-message {
  text-align: center;
}

.modal-message__container {
  padding-top: 20px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 70px;
    padding-right: 70px;
  }


  @include desktop {
    min-width: 0;
    max-width: 100%;
    min-height: 214px;
  }
}

.modal-message__title {
  @include font(18px, 1.33, $bold);
  margin-bottom: 25px;

  @include tablet {
    font-size: 30px;
  }
}

.modal-message__text {
  @include font(14px, 1.71, $normal);
  max-width: 410px;
  margin: 0 auto;

  @include tablet {
    font-size: 18px;
    line-height: 1.34;
  }

  @include desktop {
    max-width: 400px;
  }
}

.modal-message__btn-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $c_bg;

  @include desktop {
    min-width: 0;
    max-width: 100%;
  }
}

.modal-message__btn-wrapper--bg-desktop-only {
  padding-top: 0;
  background-color: transparent;

  @include desktop {
    padding-top: 50px;
    background-color: $c_bg;
  }
}

.modal-message__btn {
  max-width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;

  &--wide {
    @include desktop {
      max-width: 460px;
    }
  }
}
