.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @include desktop {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.page-footer__container {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.page-footer__logo-link {
  display: block;
  width: 147px;
  margin: 0 auto;

  @include tablet {
    margin: 0;
    margin-bottom: 10px;
  }

  @include desktop {
    margin-top: -13px;
    margin-bottom: 0;
  }
}

.page-footer__copyright-icon {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-left: 10px;
  fill: $c_theme-main;
}

.page-footer__copyright {
  display: block;
  margin: 0 auto;
  color: $c_theme-dark;
  text-align: center;

  @include tablet {
    @include font(14px, 1, $normal);
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    text-align: right;
  }

  @include desktop {
    margin-top: 0;
    font-size: 18px;
  }

  &:hover {
    .page-footer__copyright-icon {
      fill: $c_theme-dark;
    }
  }

  &:active {
    .page-footer__copyright-icon {
      fill: rgba($c_theme-dark, 0.3);
    }
  }
}
