.text-block {
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;

  &--white-bg {
    @include section-bg(#fff);
    background-color: white;

    @include tablet {
      margin-top: 60px;
      padding-top: 75px;
      padding-bottom: 40px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @include desktop {
      margin-top: 87px;
      padding-bottom: 45px;
      padding-top: 90px;

      .text-block__text {
        display: block;
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        @include tablet {
          display: inline;
        }
      }
    }
  }
}

.text-block__text {
  @include font(14px, 2.1, $normal);

  @include tablet {
    @include font(18px, 1.7, $normal);
    margin-bottom: 0;
  }
}

.text-block__text--temp-hidden {
  display: none;

  @include tablet {
    display: inline;
  }
}
