.text-block {
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;

  &--white-bg {
    @include section-bg(#fff);
    background-color: white;

    @include tablet {
      margin-top: -8px;
      padding-top: 90px;
      padding-bottom: 70px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @include desktop {
      margin-top: 87px;
      padding-top: 70px;
      padding-bottom: 80px;
    }
  }
}

.text-block__text {
  @include font(14px, 2.1, $normal);
  display: block;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include tablet {
    @include font(18px, 1.7, $normal);
    display: inline;
    margin-bottom: 0;
  }

  @include desktop {
    display: block;
    max-width: 600px;
  }

  &--form-intro {
    @include tablet {
      max-width: 800px;
    }
  }
}

.text-block__mobile-no-display {
  visibility: hidden;

  @include tablet {
    visibility: visible;

    &--inline {
      display: inline;
    }
  }
}
