@import "../sass/basic/normalize.scss";
@import "../sass/basic/fonts.scss";
@import "../sass/basic/variables.scss";
@import "../sass/basic/mixins.scss";
@import "../sass/basic/global.scss";
@import "../sass/basic/container.scss";
/*@import "../sass/basic/wrapper.scss";*/
@import "../sass/basic/visually-hidden.scss";
@import "../sass/common/logo-link.scss";
@import "../sass/common/title.scss";
@import "../sass/common/btn.scss";
@import "../sass/common/text-block.scss";
/*@import "../sass/common/page-header.scss";  УДАЛИТЬ! */
@import "../sass/common/page-footer.scss";
@import "../sass/common/main-nav.scss";
@import "../sass/common/social.scss";
/*@import "../sass/common/slider.scss"; (?)*/
@import "../sass/blocks/promo.scss";
@import "../sass/blocks/intro.scss";
@import "../sass/blocks/features.scss";
@import "../sass/blocks/effect.scss";
@import "../sass/blocks/reviews.scss";
@import "../sass/blocks/tariff.scss";
@import "../sass/blocks/table.scss";
@import "../sass/blocks/table-slider.scss";
@import "../sass/blocks/contacts.scss";
@import "../sass/blocks/form.scss";
@import "../sass/blocks/gallery.scss";
@import "../sass/blocks/photo.scss";
@import "../sass/blocks/panorama.scss";
@import "../sass/blocks/editor.scss";
@import "../sass/blocks/slider.scss";

/**,
*::before,
*::after {
  outline: 1px solid yellow;
}*/
/**,
*::before,
*::after {
  outline: 1px solid orange;
}*/
/*
@include font($size, $height, $weight);
@include flex($flex-direction); align items?
@include reset-list-style;
@include reset;

@include tablet {

}

@include desktop {

}

@include retina {

}
*/
